@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}

.title
{
    font-family: 'Grand Hotel', cursive;
}

$primary-color: #333333;
$secondary-color: #FFC200;